*.iws
*.pyc
*.tgz
.idea/
.pytest_cache/
.vscode/
/*.iml
/*.ipr
/.classpath
/.coverage
/.envrc
/.history
/.idea_modules
/.project
/.settings
/.version
/RUNNING_PID
/build
/out
__pycache__
coverage.xml
dist
lambda-packages
lib_managed
log_handler.zip
log_handler.zip.base64sha256
logs
project/project
project/target
requirements*.txt
requirements.txt
target
tmp
venv*
