# Project specific
.envrc
/.coverage
/build
*.pyc

logs
project/project
project/target
target
lib_managed
tmp
.history
dist
/.idea
/*.iml
/*.ipr
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.iws
lambda-packages
.coverage
log_handler.zip
log_handler.zip.base64sha256
__pycache__
venv*
*.tgz
.vscode/
.version
.pytest_cache/

# Poetry generated requirements files
requirements.txt
requirements-tests.txt
